input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

html {
  position: relative;
  min-height: 100%;
  font-family: inherit;
}

body {

  margin-top: 50px!important;
  background-color: black!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
}

h1 {
  font-size: 60px;
  font-family: 'inherit';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}

h2 {
 
  font-family: 'inherit';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}

.btn-circle.btn-xl {
  width: 140px;
  height: 140px;
  padding: 10px 16px;
  border-radius: 70px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 60px;
  height: 60px;
  padding: 6px 0px;
  border-radius: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle:focus {
  outline: none;
}

.inner-glow {
  background: transparent;
  border: 8px solid #00ff14;
  box-shadow: 0 0 20px 5px, inset 0 0 20px 7px;
}

/*********** Buttons ******/


#a {
  border: 5px solid blue;
  box-shadow: 0 0 5px blue, /*0 0 10px #fff,*/ 0 0 20px blue inset, 0 0 30px blue inset, 0 0 40px blue, 0 0 55px blue, 0 0 75px blue;
}


#b {
  border: 5px solid #ED0A3F;
  box-shadow: 0 0 5px #ED0A3F, /*0 0 10px #fff,*/ 0 0 20px #ED0A3F inset, 0 0 30px #ED0A3F inset, 0 0 40px #ED0A3F, 0 0 55px #ED0A3F, 0 0 75px #ED0A3F;
}


#c {
  border: 5px solid yellow;
  box-shadow: 0 0 5px yellow, /*0 0 10px #fff,*/ 0 0 20px yellow inset, 0 0 30px yellow inset, 0 0 40px yellow, 0 0 55px yellow, 0 0 75px yellow;
}


#d {
  border: 5px solid green;
  box-shadow: 0 0 5px green, /*0 0 10px #fff,*/ 0 0 20px green inset, 0 0 30px green inset, 0 0 40px green, 0 0 55px green, 0 0 75px green;
}


#e {
  border: 5px solid cyan;
  box-shadow: 0 0 5px cyan, /*0 0 10px #fff,*/ 0 0 20px cyan inset, 0 0 30px cyan inset, 0 0 40px cyan, 0 0 55px cyan, 0 0 75px cyan;
}


#f {
  border: 5px solid purple;
  box-shadow: 0 0 5px purple, /*0 0 10px #fff,*/ 0 0 20px purple inset, 0 0 30px purple inset, 0 0 40px purple, 0 0 55px purple, 0 0 75px purple;
}


#fail {
  display:block;
  width:400px;
  height:350px;
  text-align:center;
  position:relative;
  margin:0 auto;
  font-size:105px;
  color:#ffffff;
  padding-top:0px;
  display:none;
}

#fail:hover {
  cursor:pointer;
}

#fail span {
  font-size:50px;
} 

#created {
  position:fixed;
  right:30px;
  bottom:20px
}

#sound {
  display: none!important;
}

/****** Scoreboard *****/

#scoreboard {
    /*background-clip: content-box;*/
    margin: 0px;
    vertical-align: middle;
    /*border-radius: 50%;*/
    width: 240px;
    height: 240px;
    background-color: transparent;
    /*position: absolute;*/
    transform: translateY(-19px);
    border: 5px solid white;
    box-shadow: 0 0 5px white, 0 0 10px #fff, 0 0 15px white inset, 0 0 30px white inset, 0 0 40px white, 0 0 5px white, 0 0 5px white;
}

.left {
    width: 58px;
    height: 40px;
    background-color: #32050C;
    border-radius: 10px;
    border: 4px solid #2E2E2E;
    margin-left: 77px;
    margin-top: 0px;
}

.dash {
    color: #430710;
    font-size: 30px;
    margin-top: 3px;
}

.dash.turn {
    color: #DC0D29;
}

.butt {
    border: 4px solid #444444;
    outline: none;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.butt:active {
    border: 4px solid #2E2E2E;
}

.go {
    margin-top: -34px;
    margin-left: 160px;
    background-color: green;
}

.right {
    margin-top: -28px;
    margin-left: 223px;
    background-color: yellow;
}

.text, .text1 {
    font-family: 'inherit';
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    color: #fff;
    text-shadow: 0 0 0px #fff, 0 0 1px #fff, 0 0 2px #ff0080, 0 0 3px #ff0080, 0 0 4px #ff0080, 0 0 5px #ff0080, 0 0 5px #ff0080;
}

.count {
    top: 108px;
    left: 101px;
}

.start {
    top: 108px;
    left: 171px;
}

.strict {
    top: 108px;
    left: 232px;
}

.off {
    top: 145px;
    left: 128px;
}

.on {
    top: 145px;
    left: 213px;
}

.big {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #222222;
    top: 142px;
    left: 162px;
    border-radius: 4px;
    cursor: pointer;
}

.small {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.small.turnon {
    float: right;
}
