html {
  position: relative;
  min-height: 100%;
  font-family: inherit;
}

body {

  margin-top: 50px!important;
  background-color: black!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
}

h1 {
  font-size: 60px;
  font-family: 'Futura';
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080;
  text-align: center;
}


.btn-circle.btn-xl {
  width: 140px;
  height: 140px;
  padding: 10px 16px;
  border-radius: 70px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 60px;
  height: 60px;
  padding: 6px 0px;
  border-radius: 30px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-circle:focus {
  outline: none;
}

.inner-glow {
  background: transparent;
  border: 8px solid #00ff14;
  box-shadow: 0 0 20px 5px, inset 0 0 20px 7px;
}

/*********** Buttons ******/


#btn1 {
  border: 5px solid blue;
  box-shadow: 0 0 5px blue, /*0 0 10px #fff,*/ 0 0 20px blue inset, 0 0 30px blue inset, 0 0 40px blue, 0 0 55px blue, 0 0 75px blue;
}

#btn2 {
  border: 5px solid red;
  box-shadow: 0 0 5px red, /*0 0 10px #fff,*/ 0 0 20px red inset, 0 0 30px red inset, 0 0 40px red, 0 0 55px red, 0 0 75px red;
}

#btn3 {
  border: 5px solid yellow;
  box-shadow: 0 0 5px yellow, /*0 0 10px #fff,*/ 0 0 20px yellow inset, 0 0 30px yellow inset, 0 0 40px yellow, 0 0 55px yellow, 0 0 75px yellow;
}

#btn4 {
  border: 5px solid green;
  box-shadow: 0 0 5px green, /*0 0 10px #fff,*/ 0 0 20px green inset, 0 0 30px green inset, 0 0 40px green, 0 0 55px green, 0 0 75px green;
}

#btn5 {
  border: 5px solid cyan;
  box-shadow: 0 0 5px cyan, /*0 0 10px #fff,*/ 0 0 20px cyan inset, 0 0 30px cyan inset, 0 0 40px cyan, 0 0 55px cyan, 0 0 75px cyan;
}

#btn6 {
  border: 5px solid purple;
  box-shadow: 0 0 5px purple, /*0 0 10px #fff,*/ 0 0 20px purple inset, 0 0 30px purple inset, 0 0 40px purple, 0 0 55px purple, 0 0 75px purple;
}


/****** Scoreboard *****/

#scoreboard {
  color: #fff;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px grey, 0 0 30px grey, 0 0 40px grey, 0 0 55px grey, 0 0 75px grey;
  border-radius: 17%;
}
